<!DOCTYPE html>
<style>
  .v9_258 { /**/
  width: 100%;
  height: 1068px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  }
  .v9_259 { /**/
  width: 100%;
  height: 100%;
  background-image: url("./images/test.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* opacity: 0.3; */
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  }
</style>
<html>
  <head>
    <meta charset="utf-8">
    <title>Entry Screen</title>
    <!-- どのデバイスで見ても見え方を一緒にする = レスポンシブデザイン -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="v9_258">
      <div class="v9_259">
        <p>一食分(一人分)の食材を選んでください。栄養摂取基準に基づいてそれぞれの食材の量を最適化します。</p>
        <form action="/result" method="POST">
          <label><input type="checkbox" name="food" value="29">食パン</label><br>
          <label><input type="checkbox" name="food" value="50">うどん</label><br>
          <label><input type="checkbox" name="food" value="130">お米</label><br>
          <label><input type="checkbox" name="food" value="184">そば</label><br>
          <label><input type="checkbox" name="food" value="236">ジャガイモ</label><br>
          <label><input type="checkbox" name="food" value="355">木綿豆腐</label><br>
          <label><input type="checkbox" name="food" value="358">絹ごし豆腐</label><br>
          <label><input type="checkbox" name="food" value="385">豆乳</label><br>
          <label><input type="checkbox" name="food" value="465">アスパラガス</label><br>
          <label><input type="checkbox" name="food" value="529">キャベツ</label><br>
          <label><input type="checkbox" name="food" value="534">きゅうり</label><br>
          <label><input type="checkbox" name="food" value="570">生姜</label><br>
          <label><input type="checkbox" name="food" value="603">大根</label><br>
          <label><input type="checkbox" name="food" value="630">たまねぎ</label><br>
          <label><input type="checkbox" name="food" value="669">トマト</label><br>
          <label><input type="checkbox" name="food" value="682">なす</label><br>
          <label><input type="checkbox" name="food" value="706">にんじん</label><br>
          <label><input type="checkbox" name="food" value="723">にんにく</label><br>
          <label><input type="checkbox" name="food" value="751">ピーマン</label><br>
          <label><input type="checkbox" name="food" value="995">バナナ</label><br>
          <label><input type="checkbox" name="food" value="1035">りんご</label><br>
          <label><input type="checkbox" name="food" value="1338">マサバ</label><br>
          <label><input type="checkbox" name="food" value="1353">さば缶(味噌煮)</label><br>
          <label><input type="checkbox" name="food" value="1450">クロマグロ</label><br>
          <label><input type="checkbox" name="food" value="1774">豚バラ肉</label><br>
          <label><input type="checkbox" name="food" value="1838">ウインナーソーセージ(豚)</label><br>
          <label><input type="checkbox" name="food" value="1922">卵</label><br>
          <label><input type="checkbox" name="food" value="1966">ヨーグルト</label><br>
          <label><input type="checkbox" name="food" value="">とうもろこし</label><br>
          <label><input type="checkbox" name="food" value="">とんもろもろ</label><br>
          <p><input type = "submit" value = "submit" /></p>
          <a href="/">トップへ戻る</a>
        </form>
      </div>
    </div>
  </body>
</html>
